
    body{
        background-color: lightgray;
    }
h1 {
    text-align: center;
    font-size: 300%;
    letter-spacing: 10px;
    background-color: lightgray;
 font-family: sans-serif;
 margin: 10px;
}
h2{
margin-top: 5%;
background-color: gray;
color: white;
}

.fondoblanco{
    background-color: rgb(26, 201, 17);
}

.spanrojo{
    color: red;
}
p {
    text-indent: 2rem;
margin-left: 10%;
margin-right: 10%;
}
img{
border-color: yellow;
border-style: double;
float: left;
margin-bottom: 10px;
margin-right: 10px;
}
