 body { 
        background-color: lightgray;
    }
h1 {
    text-align: center;
    font-size: 300%;
    letter-spacing: 10px;
    background-color: lightcoral;
 font-family: sans-serif;
 margin: 10px;
}
h2 {
margin-top: 5%;
background-color: lightcoral;
color: white;
}

.fondoblanco {
    background-color: rgb(26, 201, 17);
}

.spanrojo {
    color: red;
}
p {
    text-indent: 2rem;
margin-left: 10%;
margin-right: 10%;
}
img {
border-color: red;
border-style: double;
float: left;
margin-bottom: 10px;
margin-right: 10px;
}
.caja2 {
    width: 40px;
    clear: both;
    box-shadow: 5px 9px 3px gray;
    text-align: justify;
    border: 3px dashed #000;
    padding: 20px;
    background-color: #fef0a1;
    margin: 2px
}

.caja1 {
margin: 2%;
background-color: #fef0a1;
padding: 20px;
border: 10px solid #e7e219;
width: 40;
text-align: justify;
float: left;
}

.caja3 {
top: 0;
right: 0;
    left: 20%;
    position: absolute;
    text-align: justify;
     width: 40px;
margin: 2%
}

p.bola {
    border: solid;
    border-image-source: url("img/bola-100.png");
    
}